<!-- 归档页，展示本站所有文章，按照年份降序归类，url形式：https://yoursite/archives/ -->

<!-- last: 按年份把文章分组，当前遍历到的年份 -->
<!-- now: 当前遍历到的文章的发布年份 -->

<div class="container archives">
  <div class="post-list">
    <%
      var pageBase = page.base;
      if ('/' != pageBase.charAt(0)) {
        pageBase = '/' + pageBase;
      }
      var prev = -10086;// prev year
      var curr;// curr year, ever step be updated

      page.posts.sort('date', -1).each(function(item, index) {
        curr = item.date.year()
        if (curr !== prev) {
          prev = curr;
      %>
        <!-- 后续文章的发布年份呈现 -->
        <div class="content-title">
          <h2>
            <a href="<%- pageBase %><%- curr %>"><%- curr %></a>
          </h2>
        </div>
      <%
        }
      %>
      <div class="post-item" title="<%- item.title %>">
        <div class="time-m-d"><%- item.date.format("MM-DD") %></div>
        <div class="title">
          <a href="<%- url_for(item.path) %>">
            <span><%- item.title %></span>
          </a>
        </div>
      </div>
    <%
      });
    %>
  </div>
  <nav class="post-navigation">
    <% if(page.prev !== 0){ %>
      <a href="<%- url_for(page.prev_link)%>"><i class="iconfont icon-angleleft"></i></a>
    <% } %>
    <span class="page-num"><%- page.current %> / <%- page.total -%></span>
    <% if(page.next !== 0){ %>
      <a href="<%- url_for(page.next_link)%>"><i class="iconfont icon-angleright"></i></a>
    <% } %>
  </nav>
</div>
