<div class="header">
  <input type="hidden" id="xr-lang" value="<%- page.lang %>">
  <input type="hidden" id="xr-context-path" value="<%- url_for() %>">
  <div class="avatar">
    <a href="<%- url_for('/' + page.lang + '/' + theme.avatar.path) %>">
      <!-- 头像取消懒加载，添加no-lazy -->
      <% if (config.lazyload && config.lazyload.enable) { %>
        <img no-lazy src="<%- url_for(theme.avatar.author_photo) %>" alt="">
      <% } else { %>
        <img src="<%- url_for(theme.avatar.author_photo) %>" alt="">
      <% } %>
    </a>
    <div class="nickname">
      <%- link_to('/' + page.lang + theme.avatar.path, theme.avatar.author_nickname) %>
    </div>
  </div>
  <div class="navbar">
    <ul>
      <%
        for(let item of theme.navbar) {
          if (item.enable) {
      %>
        <li class="nav-item" data-path="<%- url_for('/' + page.lang + item.path) %>">
          <%- link_to('/' + page.lang + item.path, item.name) %>
        </li>
      <%
          }
        }
      %>
    </ul>
  </div>
</div>

<%- js(['/js/activeNav.js']) %>
